.chat-bar-collapsible {
    position: fixed;
    bottom: 100px;
    right: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: #b69d75;
    color: #fff; 
    padding: 10px 10px; 
    border-radius: 50%; 
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
  }
  
  /* Optional styles for the chat button on hover */
  .collapsible:hover {
    background-color: #856a41; /* Change the background color on hover */
  }
  

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 400px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 400px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-header {
    display: flex;
    position: sticky;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-name {
    font-size: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.chat-header-buttons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    cursor: pointer;
    
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#send-button:hover:enabled {
    opacity: .7;
    cursor: pointer;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.input-box:disabled {
    background-color: #f1f1f1;
    color: #f1f1f1
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

.responses {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-top: -10px;
    margin-right: 10px;
}

.response-option {
    align-items: center;
    background-color: #B69D75;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 10px;
    margin: 5px;
}

.response-option:hover:enabled {
    background-color: #fff;
    color: #B69D75;
    border: 1px solid #B69D75;
    cursor: pointer;
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}